@CHARSET "UTF-8";

body {
	background: #f6f6f6 url("../images/article/main-bg.png") repeat top left;
	font-family: "Microsoft YaHei";
}
input, textarea, select, button {
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	word-wrap: break-word;
	font-size:13px;
}
textarea {
	margin: 2px;
	width: 732px;
	height: 310px;
}
a {
	color: #225599;
	text-decoration: none;
	font-size:13px;
}

a:hover{
	 text-decoration: underline;
	 color:#225599;
	 cursor:pointer;
}

h1, h2, h3, h4, h5 {
	font-size: 14px;
	font-weight: 700;
}

.highlight {
	font-weight: bold;
	color: #C20A0A;
}

.navigation {
	position: fixed;
	top: 0px;
	left: 0;
	float: none;
	margin:  0 auto;
	border-radius: 3px 3px 3px 3px;
	width: 100%;
	height: 45px;
	overflow: hidden;
	background: url("../images/article/header-bg.png") repeat-x scroll 0 0 transparent;
	z-index: 1999;
}

.navigation-inner {
	margin: 0 auto;
	width: 960px;
}

.logo {
	float: left;
	display: block;
	background: url("../images/zhihu/zhihu.png") no-repeat 0 8px;
	height: 100%;
	width: 60px;
	text-indent:  -9999px;
	color: #fff;
	cursor: pointer;
}

#searchbox {
	float: left;
}

#searchbox  #q {
	border: 1px solid #1672B9;
	background: none repeat scroll 0 0 #E7F1F8;
	border-radius: 5px 5px 5px 5px;
	color: #555555;
	font-size: 15px;
	line-height: 16px;
	padding: 8px 10px;
	width: 380px;
	box-shadow: 0 1px 2px rgba(15, 82, 135, 0.25) inset;
	margin: 5px;
}

.search-btn {
	background: url("../images/sprites.png") repeat scroll -238px -59px #E7F1F8;
	border: medium none;
	cursor: pointer;
	height: 17px;
	width: 16px;
	z-index: 200;
}

.hide-text {
	color: transparent;
	background-color: transparent;
}
/*
	顶部的li变化 单击添加背景以告诉user正在访问哪个页面
	background:#FFFFFF repeat;
*/
	
#searchbox img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	left: -30px;
	cursor: pointer;
}

#searchbox ul {
    cursor: pointer;
    font-size: 13px;
    height: 46px;
    line-height: 30px;
    list-style-type: none;
    margin: -39px 0 0 480px;
}

#searchbox ul li{
	float:left;
}

#searchbox ul a {
	display: block;
	line-height: 40px;
	width: 50px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.57);
}

.click-bg{
	background-color:#0674C3;
}

#question {
    background: url("../images/zhihu/add-button.png") repeat scroll 0 0 transparent;
    border: thin none;
    border-radius: 5px 5px 5px 5px;
    color: #EEEEEE;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    vertical-align: 1px;
    width: 68px;
}

.info {
	position: absolute;
	right: 100px;
	width: 100px;
	height: 30px;
}

.info a {
	position: relative;
	height: 45px;
	line-height: 45px;
	text-indent: 46px;
	color: #fff;
	text-decoration: none;
	box-shadow: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.info .name {
	left: 30px;
	top: 15px;
	color: white;
	font-size: 15px;
}

.info .avatar {
	position: relative;
	left: 0px;
	top: 8px;
	width: 25px;
	height: 25px;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

#top-nav-profile-dropdown {
	background-color: #006BBF;
	border: 1px solid black;
	font-size: 14px;
	height: 100px;
	list-style: none outside none;
	margin-left: 960px;
	margin-top: 48px;
	width: 65px;
}

#info a:link {
	text-decoration: none;
}

#info a:hover {
	text-decoration: none;
}

/* 页面加载 */
.page-loading {
	position: fixed;
	left: 0px;
	top: 0px;
	margin-bottom: 2px;
	z-index: 19999;
	width: 100%; /* inherit father's width, in this place, body */
	height: 2px;
}

.page-loading div {
	width: 0px;
	height: 3px;
	background: #FF9F15;
}

/* 文章主体的背景 */
.article-container {
	margin: 100px auto;
	background: #f6f6f6 url("../images/article/main-bg.png") repeat top left;
	width: 960px;
	height: auto;
}
/* 文章列表  */
.body.articles {
	margin: 10px auto;
	border: 1px solid #222222;
	padding: 5px;

}
.articles .article-item {
	position: relative;
	border-bottom: 1px solid red;
	/* background: #1e1e1e url("../images/article/darker-noise.png") repeat top left; */
	padding-left: 35px;
	padding-top: 10px;
	background: #cbb6a3;
}
.articles .article-item:before {
	content: url("../images/article/bird.png");
	display: block;
	position: absolute;
	top: 13px;
	left: 3px;
}
.articles .article-item .article-action {
	margin-right: 5px;
	background-color: #fff;
	height: 15px;
	font-size: 13px;
	line-height: 15px;
	text-decoration: none;
}
.articles .article-item .article-action i.like-btn {
	/* if you wanna set bg for element it must have width and height to pre-store/occupy the space for image inline-block is a nice choice */
	background: url("../images/article/like.png") 1px -57px no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
}
.articles .article-item pre {
	font-family: "Microsoft YaHei";
	text-indent: 10px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-size: 13px;
	color: #404040;
}
.articles .article-title {
}
.articles .article-content p {
	text-indent: 10px;
	text-overflow: ellipsis;
}

.category-list .category-labels li {
	margin: 5px;
}

.category-list .category-labels li a:hover,
.category-list .category-labels li .hover {
	color: #439ADC;
	box-shadow: 0 4px 0 #439ADC;
	-webkit-box-shadow: 0 4px 0 #439ADC;
	-moz-box-shadow: 0 4px 0 #439ADC;
	-ms-box-shadow: 0 4px 0 #439ADC;
	text-decoration: none;
}

/* 新建文章 */
.new-article {
	margin-top: 150px;
}


/* zhihu mianpage */
#myForm table tr td {
	height: 45px;
	text-align: center
}

