@CHARSET "UTF-8";

/*[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "allen-font";
	font-style: normal;
	font-weight: normal;
}*/
.icon-heart:before {
	margin-right: 10px;
	content: '\e800';
	font-family: "allen-font";
	font-style: normal;
	font-weight: normal;
}
ul li {
	 list-style: none outside none;
	 float: left;
 }
div.part {
	border: 1px solid #CAC9CA;
}
/* article hover */
.category-list .category-header {
	border-bottom: 1px solid #888;
}
.category-list .category-labels li {
	margin: 5px;
}
.category-list .category-labels li a:hover,
.category-list .category-labels li .hover {
	color: #439ADC;
	box-shadow: 0 4px 0 #439ADC;
	-webkit-box-shadow: 0 4px 0 #439ADC;
	-moz-box-shadow: 0 4px 0 #439ADC;
	-ms-box-shadow: 0 4px 0 #439ADC;
	text-decoration: none;
}
.category-list .category-body li {
	width: 300px;
}
.category-list .category-body li p {
	width: 280px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/* 新建文章 */
.new-article {
	margin-top: 150px;
}

/* lateset dishes */
.latest-dish h1 {
	color: #810430;
}

.latest-dish {
	border-radius: 3px;
	padding: 10px;
}
.latest-dish .media {
	width: 490px;
	overflow: hidden;
}
.latest-dish .media img {
	float: left;
	border: solid 9px #810430;   /* set border thicker to make it look like framed */
	margin-right: 5.5%;
}
.latest-dish .media a h2 {
	margin: 10px 0px;
	color: #49301a;
	font-size: 26px;
	text-align: inherit;
}
.latest-dish .media a p {
	margin-left: 10px;
	color: #7b6047;
}
.latest-dish .media a:hover p {
	color: #b32c1c;
	text-transform: uppercase;
}


/* 学历Dropdown */
.education {
	position: relative;
	margin: 0 auto;
	width: 400px;
}
.education .dropdown_trigger {
	display: block;
	border: 1px solid #999;
	border-radius: 1px;
	height: 30px;
	line-height: 30px;
}
.education .dropdown {
	display: none;
	z-index: 1000;
}
.education .dropdown li {
	float: none;
	line-height: 30px;
}
.education .dropdown li:hover {
	background-color:  #abd9fb;
}
.education .dropdown li:hover a {
	color: #fff;
}
.education .dropdown li a {
	color: #616161;
}
.education .icon-dropdown {
	display: block;
	position: absolute;
	border: 1px solid #999;
	top: 0px;
	right: 0px;
	background: url("../images/design/dropdown.png") no-repeat -13px/60px;
	width: 30px;
	height: 30px;
	line-height: 28px;
	cursor: pointer;
}
