	body {
		background: url("../images/stars-1.png") repeat-x fixed -130% 0px, 
					url("../images/stars-2.png") repeat-x fixed 40% 0px, 
					url("../images/space-bg.png") repeat-x fixed -80% 0px, 
					url("../images/clouds.png") repeat-x fixed 100% 0 #1A1A1A;
		color: #222222;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 100%;
	}
	